@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
       url('../assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
       url('../assets/fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}