body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.hello {
    color: red;
    background-image: url("../assets/Check.svg");
}

img {
    width: 250px;
    height: 250px;
}